h1 {
    text-decoration: underline;
    font-weight: bolder;
    color: black;
}
p { 
    border-top-color: #16DB93;
    border-bottom-color: #A4036F;
    border-left-color: #EFEA5A;
    border-right-color: #FE5E41;

}
th:nth-child(even) {
  background-color: #D6EEEE;
}
img {
    margin-bottom: 30px;
    border: 5px solid green;
}
